 <form action="/signup" method="POST" id="signup-form">

      <label for="username">Enter UserName:</label>
      <input type="text" id="username" name="username"  class="data"/><br><br>

      <label for="password">Enter Password:</label>
      <input type="password" id="password" name="password" class="data"/><br><br>

     <button type="submit">Signup</button>

        </form>
<br><br>

<p class="error">{{error}}</p>

        <a href="/">Already have an account? Click here to log-in</a>