
<form method="POST" id="palindrome-form" class="form">
  <div class="form-content">
    <label for="string">
      <textarea id="string" name="phrase"></textarea>
    </label>
    <button type="submit" class="btn btn-default">Submit</button>
    <br> <br>
  </div>
  <div class="error" id="error-container">
  </div>
</form>