<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Check palindrome</title>
  <link rel="stylesheet" href="/public/main.css">
</head>

<body>
  <header>
    <h1>Check palindrome</h1>
  </header>
  <br>
  <main class="container">
        {{{body}}}
     
    <ol id="attempts"></ol>
  </main>
  <footer class="footer">
    <p>Akhil Medasani(10478655). I'm in web programming class.</p>
  </footer>
  <script src="/public/form.js"></script>
</body>

</html>