<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Tvshows</title>
</head>

<body>
    <header>
    <h1>Tvshows</h1>
  </header>

    <main class="container">
        <div class="row">
            <div class="col-sm-12">
                {{{body}}}
            </div>
        </div>
    </main>


    <footer class="footer">
    <p>Akhil Medasani(10478655). I'm in web programming class.</p>
  </footer>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
        crossorigin="anonymous"></script>
    
    <script src="/public/js/Tvshows.js"></script>

</body>

</html>